
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.rss-feed-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  max-width: 100%;
  font-family: 'Montserrat', sans-serif; 
  font-size: 30px;
  width: 100%;
}

.rss-toggle-switches {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.toggle-switch {
  margin-right: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.toggle-switch span {
  margin-left: 8px;
  font-size: 14px;
}

.rss-feed-items {
  list-style-type: none;
  padding: 0;
  margin: 10;
  max-height: 900px; 
 
  overflow-y: auto; 
}

.rss-feed-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  background-color: #f9f9f9;
    font-family: 'Montserrat', sans-serif; 
    font-size: large;

}

.rss-feed-item:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

.rss-item-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 10px 0;
}

.rss-feed-card {
  margin-bottom: 16px;
}
/* Медиа-запросы */
@media (max-width: 1200px) {
  .rss-feed-container {
    max-width: 90%;
  }
}

@media (max-width: 900px) {
  .rss-feed-container {
    max-width: 80%;
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .rss-feed-container {
    max-width: 95%;
    font-size: 20px;
  }

  .rss-feed-item {
    font-size: medium;
  }

  .rss-toggle-switches {
    flex-direction: column;
  }
}